NODE_ENV=development

SERVER_PORT=3000
SERVER_URL=http://localhost:3000 # or domain like https://api.yourdomain.com

DATABASE_URL=
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

FILE_STORAGE_PATH=./temp/uploads